body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #2d3c49;
}

.logo-left {
    float: left;
    max-width: 100%;
    margin-top: -10px;
    height: 125px;
    width: 150px;
    color: #02b3e4;
}

.name-right {
    float: right;
}
h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
}

h4 {
    float: right;
    margin-top: -5px;
}

hr {
    border-top: 1.5px solid #2d3c49;
    
}

.hero-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.featured-text {
    color: #7d97ad;
    text-transform: capitalize;
}

.featured-img {
    display: block;
    max-width: 100%;
    height: 250px;
    width: 350px;
}

a {
    color: #2d3c49;
    text-align: center;
    text-decoration: none;
}

a:hover {
    color: #2d3c49;
    text-decoration: none;
}

a:visited {
    color: #2d3c49;
    text-decoration: none;
}

h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.featured-title {
    text-align: center;
}





@media screen and (max-width: 420px) {
    .title-bar {
        display: flex;
        flex-wrap: wrap;
    }

    .logo-left {
        float: none;
        width: 100%;
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }
    
    .name-right {
        float: none;
        text-transform: uppercase;
    }

    h4 {
        margin-top: -5px;
    }
    
}